:root{
    --c-background-base: #D8DEE9; /*body-light*/
    --c-background-primary: #ECEFF4; /*board-light*/
    --c-text-base: #000000; /*text-light*/
  }
  @media (prefers-color-scheme: dark) {
    :root{
      --c-background-base: #181a20; /*body-dark*/
      --c-background-primary: #232831; /*board-dark*/
      --c-text-base: #EFEFEF; /*text-dark*/
    }
  }
  body{
    background-color: #181a20;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .text{
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 96px;
    color: #EFEFEF;
  }
